<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
  <% if (products.length > 0) { %>
    <ul class="cart__item-list">
      <% products.forEach(p => { %>
        <li class="cart__item">
          <p><%= p.productId.title %> (<%= p.quantity %>)</p>
          <form action="/cart-delete-item" method="POST">
            <input type="hidden" value="<%= p.productId._id %>" name="productId">
            <button class="btn" type="submit">Delete</button>
          </form>
        </li>
      <% }); %>
    </ul>
    <div class="centered">
      <form action="/create-order" method="POST">
        <button class="btn" type="submit">Order Now!</button>
      </form>
    </div>
  <% } else { %>
    <h1>No products in the cart</h1>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>
